<h1>Lorem, ipsum. {{ helloWorld }} </h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni blanditiis nobis molestias a accusamus, aperiam
  consectetur enim aspernatur, eius ullam cumque necessitatibus illum explicabo vel repellat aliquam quam mollitia
  repudiandae?</p>

<app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>


<!-- <input type="text" (keyup)="changeHelloWorldVariable($event)"> -->
<!-- $ işareti, Angular tarafından olay nesnesini belirtmek için kullanılan
bir konvansiyondur. Bu işaret, olayın Angular tarafından sağlandığını ve özel bir anlam taşıdığını belirtir.-->

<!-- Kullanım Alanları -->
<!-- $event ifadesi, genellikle HTML şablonlarında (template)
olay bağlayıcıları (event bindings) ile birlikte kullanılır.
Olay bağlayıcıları, kullanıcı etkileşimlerine (tıklama, tuş vuruşu, fare hareketi vb.) yanıt vermek için kullanılır. -->

<input type="text" [(ngModel)] = "helloWorld">
<!-- Bunun işlevi two-data-binding yani çift taraflı bilgi akışı olmasını sağlıyor yani aslında buraya girdiğimiz değer sayesinde
input'un içindeki bilgi değiştiği zaman  helloWorld de değişiyor ngModel bu işe yarıyor.-->
